.container {
	padding-top: 50px;
	max-width: 375px;
	margin: 0 auto;
}

button {
	width: 90px;
	height: 90px;
	background-color: #009688;
	margin-left: -6px;
	margin-bottom: -6px;
	padding: 0;
	vertical-align: middle;
	border: 1px solid #99d5cf;
	color: #cceae7;
}

button:hover {
	font-size: 1.5em;
}

button:focus {
	outline: 0;
}

button.clear {
	width: 89px;
}

button.clear:hover {
	background-color: #66c0b7;
}

button.lighter {
	background-color: #66c0b7;
	color: #005a51;
}

button.brighter:hover {
	background-color: #66c0b7;
}

div.answerField {
	width: 265px;
	height: 83px;
	border: 1px solid #99d5cf;
	display: inline-block;
	margin-left: -5px;
	margin-bottom: -39px;
	background-color: #009688;
}

p {
	font-size: 2em;
	text-align: right;
	margin: 0;
	padding-top: 15px;
	padding-right: 15px;
	color: #cceae7;

}